/* *************** */
/*      Styles     */
/* *************** */
body {
    font-family: "Raleway", Helvetica, sans-serif;
}
h1, h2, h3, h4 {
	font-family: "Raleway", Helvetica, sans-serif;
}
h1 { font-size: 2.5em; line-height: 1.5em; }
h2 { font-size: 2em; line-height: 1.5em; }
h3 {
	font-weight: bold;
	color: #F3BC00;
	margin: 15px 0 5px;
	}
	h3:first-child { margin: 0 0 5px; }




/* **************** */
/*		Layout		*/
/* **************** */
.bg-hack {
	background-image: url(../images/backgrounds/LadiesLearningCode3-2.jpg);
}
.bg-sign-up {
    background-image: url(../images/backgrounds/LadiesLearningCode2.jpg);
}
.bg-orange {
    background-image: url(../images/backgrounds/pw_pattern_FF7A2F.png);
}
	
section {
    padding: 80px 0 100px;
}




/* ************************ */
/*		Section Styles		*/
/* ************************ */
.hack-header {
	padding: 120px 0 100px;
}
.hack-header h1, .hack-header h2,
#join h1, #join h2 {
	text-shadow: 2px 2px #333;
}
.btn {
	-moz-box-shadow:    1px 1px 5px 0px rgba(50, 50, 50, 0.5);
	-webkit-box-shadow: 1px 1px 5px 0px rgba(50, 50, 50, 0.5);
	box-shadow:         1px 1px 5px 0px rgba(50, 50, 50, 0.5);
}


.hack-def {
	line-height: 1.1em;
}
.hack-def i, .hack-def span {
	font-size: .8em;
}
.hack-def span {
	display: block;
	margin-left: 20px;
}





#join {
	color: white;
}
#join h1 {
	margin-bottom: 10px;
}
#join h2 {
	margin-bottom: 100px;
}



#conduct .fa { 
	font-size: 150px;
	color: white;
}
.code-conduct, .why-conduct {
	text-align: center;
}
.code-conduct h2, .why-conduct h2 {
	margin: 20px 0;
}





@media (min-width: 768px) {

}

@media (max-width: 767px) {

}