/*
http://paletton.com/#uid=7391z0kq7MkffTsl2PEvVILF3ug
*/

/* **************** */
/*		Fonts		*/
/* **************** */
@font-face {
  font-family: "HelveticaNeue";
  src: url(../media/HelveticaNeue-Thin.otf) format("truetype");
}


/* **************************** */
/*		Bootstrap Overrides		*/
/* **************************** */




/* ******************************** */
/*		Agency CSS Overrides		*/
/* ******************************** */
a {
	color: black;
	text-decoration: none;
	border-bottom: 1px solid #000;
}
a:hover, a:focus, a:active, a:active{
	text-decoration: none;
	cursor: pointer;
	color: #F5BE00;
	border-bottom: 1px solid #F5BE00;
}

ul {
	margin-left: 20px;	
}
li {
	margin-bottom: 10px;
}

nav a, nav a:hover, nav a:focus, nav a:active, nav a:active {
	text-decoration: none !important;
	border-bottom: 0;
}
.navbar-default {
	padding: 20px 0;
	background-color: rgba(40, 40, 40, 0.4);
}

a.btn {
	color: white;
}



/* **************** */
/*		Layout		*/
/* **************** */
body {
	font-family: HelveticaNeue, Helvetica, sans-serif;
	font-size: 20px;
	line-height: 1.5em;
}
* { 
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.bg-teal {
	/*background: #27D7A6;
	background: #7BEACB;
	background: #4DE0B7;*/
	background-image: url(../images/knitting250px_teal.png);
	background-position: center center;
}
.bg-purple {
	/*background: #9D31D8;
	background: #C581EB;
	background: #AF55E1;*/
	background-image: url(../images/contemporary_china_2_purple.png);
	background-position: center center;
}
.bg-yellow {
	/*background: #FFFF2F;
	background: #FFFF86;
	background: #FFFF57;*/
	background-image: url(../images/wild_flowers_yellow.png);
	background-position: center center;
}
.bg-image {
	background-attachment: scroll;
    background-position: center center;
    background-repeat: none;
    
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
	}
	.atlas1 {
		background-image: url(../images/atlas1.jpg);
	}
	.lobby {
		background-image: url(../images/lobbyblur2.jpg);
	}




/* ************************ */
/*		Section Styles		*/
/* ************************ */
.intro-statement {
	padding: 120px 10% 100px;
}
.intro-image {
	width: 33%;
	
	-moz-border-radius: 200px;
	-webkit-border-radius: 200x;
	border-radius: 200px;
}
.intro-logo {
	width: 63%;
	margin-left: 3%;
}
.intro-mission {
	margin: 20px 0;
	text-align: center;
	font-size: 30px;
    line-height: 1.5em;
    font-style: italic;
}


.text-bg {
	padding: 20px;
	background: rgba(255, 255, 255, 0.9);
	
	-moz-border-radius: 3px;
	-webkit-border-radius: 3x;
	border-radius: 3px;
}

