/*
http://paletton.com/#uid=7391z0kq7MkffTsl2PEvVILF3ug
*/

/* **************** */
/*		Fonts		*/
/* **************** */
@font-face {
  font-family: "HelveticaNeue";
  src: url(../media/HelveticaNeue-Thin.otf) format("truetype");
}





/* *************** */
/*		Styles     */
/* *************** */
body {
    font-family: HelveticaNeue, Helvetica, sans-serif;
    font-size: 20px;
    line-height: 1.5em;
}
* { 
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
h4 {
    font-size: 1.3em;
}
p {
	margin-bottom: 10px;
    font-size: inherit;
}
a {
	color: black;
	text-decoration: none;
	border-bottom: 1px solid #000;
}
a:hover, a:focus, a:active, a:active{
	text-decoration: none;
	cursor: pointer;
	color: #F5BE00;
	border-bottom: 1px solid #F5BE00;
}

ul {
	margin-left: 20px;	
}
li {
	margin-bottom: 10px;
}

a.btn {
	color: white;
}





/* **************** */
/*		Layout		*/
/* **************** */
.bg-teal {
	background-color: #4DE0B7;
	background-image: url(../images/backgrounds/knitting250px_teal.png);
	background-position: center center;
}
.bg-purple {
	background-color: #AF55E1;
	background-image: url(../images/backgrounds/contemporary_china_2_purple.png);
	background-position: center center;
}
.bg-yellow {
	background-color: #FFFF57;
	background-image: url(../images/backgrounds/wild_flowers_yellow.png);
	background-position: center center;
}
.bg-image {
	background-attachment: scroll;
    background-position: center center;
    background-repeat: none;
    
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
	}
	.atlas1 {
		background-image: url(../images/backgrounds/atlas1.jpg);
	}
	.lobby {
		background-image: url(../images/backgrounds/lobbyblur2.jpg);
	}
	
section {
    padding: 0 0 100px;
}
.section-heading {
    padding: 30px;
    background-color: rgba(40, 40, 40, 0.4);
    color: white;
    margin-bottom: 60px;
}
@media (max-width: 767px) {
    .section-heading {
        padding: 20px;
        margin-bottom: 20px;
    }
}



/* ***************** */
/*      Nav Bar      */
/* ***************** */
nav a, nav a:hover, nav a:focus, nav a:active, nav a:active {
    text-decoration: none !important;
    border-bottom: 0;
}
.navbar-default {
    padding: 20px 0;
    background-color: rgba(40, 40, 40, 0.4);
    font-size: .8em;
}






/* ************************ */
/*		Section Styles		*/
/* ************************ */
.intro-statement {
	padding: 120px 10% 100px;
}
.intro-image {
	border: 7px solid #fff;
}
.intro-logo {
	margin-top: 73px;
}
.intro-mission {
	margin: 20px 0;
	text-align: center;
	font-size: 30px;
    line-height: 1.5em;
    font-style: italic;
}

.text-bg {
	padding: 20px;
	background: rgba(255, 255, 255, 0.9);
	
	-moz-border-radius: 3px;
	-webkit-border-radius: 3x;
	border-radius: 3px;
}



.team-member .img-circle {
	height: 225px;
	width: 225px;
}


.event {
	
}
.event h3 {
	margin-bottom: 10px;
}
.btn-xl.btn-med {
	padding: 10px 20px;
	font-size: .8em;
}







footer {
	background-color: black;
	color: white;
}
footer .social-buttons a {
	border: 0;
}
footer  a {
	color: white;
	border-color: white;
}


@media (min-width: 768px) {
	/* container width 750px */
	
	.intro-logo {
		margin-top: 47px;
	}

}

@media (max-width: 767px) {
	/* container width 100% */
	.intro-image {
		width: 60%;
		margin: 0 auto;
	}

	.intro-logo {
		margin-top: 0px;
	}

}